body
{
    margin:0;
    padding:0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn
{
    font-family: "roboto",sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #1e90ff;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform-property:box-shadow,transform;
    transition-property:box-shadow, transform;
}
.btn:hover ,.btn:focus, .btn:active{
    box-shadow: 0, 0, 20px rgba(0, 0, 0,0.5);
    -webkit-transform: scale(1.1)
    

}
.popup-window {

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
     overflow-y: scroll;
    background-color: rgba(70, 220, 240, 0.936);
    border-image-repeat: no-repeat;
    }
    .popup-content {

        background-color: #cbf4ee;
        margin: 20%;
        padding: 10px;
        border: 3px solid #cf2828;
        border-radius: 10px;
        width: 100%;
        max-width: 600px;
        margin-right: 70px;
        }
        .close-button {

            color: #100f0f;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
            }
            
    .close-button:hover,
    .close-button:focus {
    color: rgb(228, 149, 13);
    text-decoration: none;
    cursor: pointer;
    }
    .h1
    {
        color: rgb(23, 228, 228);
        text-align: center;
    }
    .toy
    {
    color: #a61ade;
    }
    .fun
    {
        color: rgb(21, 0, 255);
    }